<% include ../header %>

<h1>Things</h1>

<% if (things.length) { %>
	<ul>
		<% things.forEach(function (thing) { %>
			<li><a href="things/<%=: thing._id %>"><%= thing.name %></a></li>
		<% }) %>
	</ul>
<% } %>

<% include ../footer %>